
* {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

body {
    background-image: url('../images/noise.png');
    font-family: 'Lato', sans-serif;
}

section {
    width: 50%;
    margin: 0 auto;
    height: 500px;
}

h2 {
    margin-bottom: 0;
}

ul { 
	padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
	color:black;
	font-size: 1em;
}

a:hover{
	color:gray;
}

a span { 
    color: pink;
}

img {
    width: 30%;
}

 hr {
    padding: 1%;
    border: none;
 }

.content {
    font-size: 1.25em;
    line-height: 1.1em;
}

.main {
    text-align: left;
    border-bottom: 3px dotted #5A5A5A;
}

.main-title {
    font-weight: 600;
    background-color:none;
    padding: .5em 1em;
    margin: 0 auto;
	display:inline-block;
    border-radius: 15px;
    width:30%;
    font-size: 2em;
}

.main-nav li {
	list-style-type: none;
    margin-top: 0;
    line-height: 1.5em;
    font-size: 1.25em;
}

.return {
    text-align: center;
    line-height: 2em;
    color: pink;
    width: 100%;
    float: left;
}

.main-title, .main-nav {
    padding-left: 10%;
}

.headings {
    text-transform: uppercase;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 200;
    line-height: 1em;
    padding: 3%;
}

.headings a {
    color: black;
}

.main {
    margin: auto;
    clear: both;
    margin-bottom: 2%;
}

.blueberry {
    max-width: 960px;
    float: left;

     }

#contact {
    border-bottom: none;
    border-top: 3px dotted #5A5A5A;
}

#name {
    font-size: 5em;
}

#sib_proj {
    list-style-type: none;
}

#bike {
    width: 50%;
    float:left;
    height: auto;
    text-align: left;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 3%;
}

#bnb_return {
    clear: both;
    padding-top: 2%;
}

#first, #photo, #fourth, #fifth {
    float: left;
}

#first, #second, #third, #fourth, #fifth {
    padding: 2%;
}

#bnb {
    padding-top: 3%;
}

#photo {
    background-image: url('../images/NZ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#photo2 {
    background-image: url('../images/SIB2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2%;
}

#second, #photo2, #third {
    float: right;
}

#second, #photo2 {
    height:700px;
}

#larch, #bns {
    height: 5px;
}

#third {
    height: 700px;
}

#fourth {
    background-image: url('../images/bnb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    width: 100%;
    margin-top: 3%;
}

#fifth {
    height: 650px;
}

#sixth {
    height: 205px;
}

#bnsslides {
    height: 650px;
}

#welcome {
    float: left;
    padding-left: 27%;
    width: auto;
    line-height: .75em;
}

#end li {
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    line-height: 1.5em;
    font-size: 1.25em;
}

#welcome, #sib_proj a, #more_links, h2 {
    text-transform: uppercase;
}

/* for different screen sizes */

@media (max-width: 1045px) {

    section, #photo2 {
        width: 100%;
        font-size: 1em;
        height: 400px;
        float: left;
    }

    .main-nav {
        clear: left;
    }
    
    .content, .main-nav a{
        font-size:1em;
    }

    .blueberry {
        clear: both;
        float: center;
        padding: 50px;
        padding-top: 0px;
        width: 80%;
        height: 450px;
    }

    #third {
        clear: left;
        height: 350px;
        float: right;
    }

    #second {
        height: 628px;
    }

    #name {
        font-size: 3em;
    }
    
    #first {
        height: 350px;
    }

    #fifth {
        height: 256px;
    }

    #bnsslides {
        height: 300px;
    }

    #welcome {
        text-align: left;
    }
}

@media (max-width: 1045px) and (min-width: 824px) {
    
    .blueberry {
        height: 600px;
    }

    #name {
        font-size: 5em;
    }

    #first {
        height: 500px;
    }

    #fifth {
        height: 378px;
    }

    #sixth {
        height: 235px;
    }
}

@media (max-width: 491px) {
    
    .blueberry {
        width: 100%;
        height: 330px;
    }

    #welcome {
        line-height: 0em;
    }

    #name {
        padding: 3%;
    }

    #first {
        height: 350px;
    }

    #second {
        height: 785px;
    }

    #third {
        height: 400px;
    }

    #fourth {
        height: 450px;
    }

    #fifth  {
        height: 400px;
    }

    #sixth {
        height: 205px;
    }

    #bnsslides {
        height: 350px;
        display: block;
    }
}