body{
	font-family: times;
	text-align: center;
	background-color: 271209;
}

#container {
	width:960px;
	margin: 0 auto 0 auto;
	background-color:white;
}

header {
		background-image: url('../images/beans.jpg');
		text-align:center;
		height: 250px;
		background-repeat: no-repeat;
}

nav ul {
	color: #B89e77;
	background-color: #271209;
	text-decoration: none;
	list-style-type: none;
	clear:both;
	padding:.25em;
	font-size: 14pt;
}

nav li {
	display:inline;
	padding:1em;
	list-style: none;
}

a:active, a:visited, a:link{
	color:#B89e77;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}

.text-center {
	text-align:center;
}

h1 {
	color: #271209;
	font-size: 16pt;
	font-family: sans-serif;
}

.column1of2 {
	float:left;
	width: 35%;
	margin: 10px;
	padding-left: 10%;

}
.column2of2 {
	float:left;
	width: 35%;
	margin: 10px;
	padding: 0 10% 0 5%;
}

.clear {
	clear:both;
}

footer p {
	color: #B89e77;
	background-color:#271209; 
	text-align: center;
	font-style:normal;
}