body {
	font-family: sans-serif;
	list-style: none;
	padding: 1em;
}

@font-face {
	font-family: League-Gothic;
	src: url('type/LeagueGothic-Regular-webfont.otf');
 	src: url('type/LeagueGothic-Regular-webfont.eot') format('embedded-opentype'),
    url('type/LeagueGothic-Regular-webfont.woff') format('woff'),
    url('type/LeagueGothic-Regular-webfont.ttf') format('truetype'),
    url('type/LeagueGothic-Regular-webfont.svg') format('svg');
}

ul {
	font-weight: bold;
	list-style-type: none;
}

#main-nav, #logo {
	clear:both;
}

#main-nav ul li {
	display:inline;
	float:right;
	padding: 0 10px;
	font-size: 18px;
}

#logo {
	float:left;
}

.clear {
	clear:both;
}

aside nav ul {
	line-height:50px;
	font-size: 18px;
}

a {
	text-decoration: none;
}

a:active, a:visited, a:link {
	color:black;
}

a:hover {
	color:gray;
}

h3 {
	font-size: 10pt;
	margin: 0;
}

h2 {
	font-family:League-Gothic;
	font-size: 30pt;
	text-transform:uppercase;
	font-weight:normal;
	margin: 0;
}

article {
	padding-top: .75em;
	padding-bottom: .75em;
}

aside {
	float:left;
	width: 30%;
}

#zerop {
	float:right;
	width: 45%;
}

#onep {
	width: 45%;
}

#twop {
	width: 45%;
	font-weight:normal;
}

span {
	font-weight:bold;
}

#entries {
	float:right;
	width:60%;
	padding-top: 10px;
}

footer {
	font-weight: bold;
}
